[submodule "fortran"]
	path = fortran
	url = https://github.com/seigtm/fortran_examples
[submodule "circuit"]
	path = circuit
	url = https://github.com/seigtm/circuitry-spbpu-homework
[submodule "cpp"]
	path = cpp
	url = https://github.com/seigtm/cpp-spbpu-homework
[submodule "discrete"]
	path = discrete
	url = https://github.com/seigtm/markov
[submodule "llvm"]
	path = llvm
	url = https://github.com/seigtm/llvm-setup
[submodule "oop"]
	path = oop
	url = https://github.com/seigtm/oop-spbpu-homework
